name: 'apiDoc'
scopeName: 'text.apidoc'
type: 'tree-sitter'
parser: 'tree-sitter-apidoc'

# Please atom fix atom/atom#18467 & atom/atom#18196
injectionRegex: '^apidoc$'

scopes:
    '''
    method,
    group
    ''': 'constant.other.apidoc'

    '''
    path,
    url
    ''': 'support.type.apidoc'

    'name': 'variable.other.apidoc'
    'title': 'entity.other.attribute-name.id.apidoc'

    '''
    off,
    default,
    semver
    ''': 'string.quoted.apidoc'

    'type': 'entity.name.type.apidoc'

    '''
    api,
    ignore,
    define,
    deprecated,
    description,
    error,
    errorexample,
    example,
    apigroup,
    header,
    headerexample,
    apiname,
    param,
    paramexample,
    permission,
    private,
    samplerequest,
    success,
    successexample,
    use,
    version
    ''': 'keyword.control.apidoc'
